<div>
  <div class="navlogin">
    <span>Spotify</span>
  </div>
  <div class="content-login">
    <div class="form">
      <h2>Subscribe to start listening</h2>
      <form action="">
        <div class="forminput">
          <div class="div-input-text">
            <label for="login">E-mail <address></address></label>
            <input type="email" name="login" placeholder="name@domain.com">
          </div>
          <div class="div-input-submit">
            <input type="submit" value="next">
          </div>
        </div>
      </form>
      <div class="or">
        <hr><span>or</span><hr>
      </div>
      <div class="login-with">
        <a href="">Continue with Google</a>
        <a href="">Continue with Facebook</a>
        <a href="">Continue with Apple</a>
      </div>
      <hr>
      <div class="div-input-link">
        <span>Do you already have an account? <a href="">Log in here</a>.</span>
      </div>
    </div>
    <footer>
      <span>This site is protected by reCAPTCHA and the Google <a href="">Privacy Policy</a> and <a href="">Terms of Service apply</a>.</span>
    </footer>
  </div>
</div>
