<div class="genre">
  <div class="top">
    <h1>{{category?.nameCategory}}</h1>
  </div>
  <div class="bottom">
    <app-search-category [section]="hc_track">
      {{hc_track?.section}} 
      <div class="list">
          <app-music-item *ngFor="let track of tracks?.slice(0,5)" [track]="track"></app-music-item>
      </div>
    </app-search-category>
    <app-search-category [section]="hc_album">
      {{hc_album?.section}}
      <div class="list">
          <app-album-item *ngFor="let album of albums?.slice(0,5)" [album]="album"></app-album-item>
      </div>
    </app-search-category>
    <app-search-category [section]="hc_artist">
      {{hc_artist?.section}}
      <div class="list">
          <app-artist-item *ngFor="let artist of artists?.slice(0,5)" [artist]="artist"></app-artist-item>
      </div>
    </app-search-category>
  </div>
</div>