<div class="genre">
  <div class="top">
    <h1>Afro</h1>
  </div>
  <div class="bottom">
    <app-search-category>
      Your top Afro 
      <div class="list">
          <app-playlist-item></app-playlist-item>
          <app-playlist-item></app-playlist-item>
          <app-playlist-item></app-playlist-item>
          <app-playlist-item></app-playlist-item>
          <app-playlist-item></app-playlist-item>
      </div>
    </app-search-category>
    <app-search-category>
      Afro albums
      <div class="list">
          <app-album-item></app-album-item>
          <app-album-item></app-album-item>
          <app-album-item></app-album-item>
          <app-album-item></app-album-item>
          <app-album-item></app-album-item>
      </div>
    </app-search-category>
    <app-search-category>
      Afro artists
      <div class="list">
          <app-artist-item></app-artist-item>
          <app-artist-item></app-artist-item>
          <app-artist-item></app-artist-item>
          <app-artist-item></app-artist-item>
          <app-artist-item></app-artist-item>
      </div>
    </app-search-category>
  </div>
</div>