<nav>
  <div class="navbar">
    <div class="left">
      <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" height="1.5rem" viewBox="0 0 512 512"><path fill="#a7a7a7" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" height="1.5rem" viewBox="0 0 512 512"><path fill="#a7a7a7" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
      <div class="inputsearch" *ngIf="!isHomeRoute()">
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" height="1.375rem" viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path fill="#a7a7a7" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"/></svg>
        <input type="text" name="" placeholder="What do you want to play?" autoFocus>
      </div>
    </div>
    <div class="right">
      <a href="" class="first" *ngIf="isHomeRoute()">Explore Premium</a>
      <a href="assets/SpotifySetup.exe" class="second"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" height="1.25rem" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M176 262.62L256 342l80-79.38M256 330.97V170"/><path d="M256 64C150 64 64 150 64 256s86 192 192 192 192-86 192-192S362 64 256 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>&nbsp;Install App</a>
      <a class="third"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" height="1.313rem" viewBox="0 0 512 512"><path d="M427.68 351.43C402 320 383.87 304 383.87 217.35 383.87 138 343.35 109.73 310 96c-4.43-1.82-8.6-6-9.95-10.55C294.2 65.54 277.8 48 256 48s-38.21 17.55-44 37.47c-1.35 4.6-5.52 8.71-9.95 10.53-33.39 13.75-73.87 41.92-73.87 121.35C128.13 304 110 320 84.32 351.43 73.68 364.45 83 384 101.61 384h308.88c18.51 0 27.77-19.61 17.19-32.57zM320 384v16a64 64 0 01-128 0v-16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg></a>
      <button (click)="toggleDiv()">J</button>
    </div>
    <div class="navbaraccount" id="navbaraccount" *ngIf="showDiv" (clickOutside)="hideDiv()">
      <ul>
        <li><a href="">Account <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" height="1.25rem" viewBox="0 0 512 512"><path d="M384 224v184a40 40 0 01-40 40H104a40 40 0 01-40-40V168a40 40 0 0140-40h167.48M336 64h112v112M224 288L440 72" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg></a></li>
        <li><a href="">Profile</a></li>
        <li><a href="">Upgrade to Premium <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" height="1.25rem" viewBox="0 0 512 512"><path d="M384 224v184a40 40 0 01-40 40H104a40 40 0 01-40-40V168a40 40 0 0140-40h167.48M336 64h112v112M224 288L440 72" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg></a></li>
        <li><a href="">Settings</a></li>
        <li><a href="">Log out</a></li>
      </ul>
    </div>
  </div>
  <div class="type" *ngIf="isHomeRoute()">
    <ul>
      <li>
        <a href="">All</a>
      </li>
      <li>
        <a href="">Music</a>
      </li>
      <li>
        <a href="">Podcasts</a>
      </li>
    </ul>
  </div>
</nav>
