<app-search-category>
  Your top Afro Mixes
  <div class="list">
      <app-music-item></app-music-item>
      <app-music-item></app-music-item>
      <app-music-item></app-music-item>
      <app-music-item></app-music-item>
      <app-music-item></app-music-item>
      <app-music-item></app-music-item>
      <app-music-item></app-music-item>
      <app-music-item></app-music-item>
      <app-music-item></app-music-item>
      <app-music-item></app-music-item>
      <app-music-item></app-music-item>
      <app-music-item></app-music-item>
      <app-music-item></app-music-item>
      <app-music-item></app-music-item>
      <app-music-item></app-music-item>
      <app-music-item></app-music-item>
      <app-music-item></app-music-item>
      <app-music-item></app-music-item>
      <app-music-item></app-music-item>
      <app-music-item></app-music-item>
  </div>
</app-search-category>