a {
    display: flex;
    background-color: rgba(47, 47, 47, 0.4);
    height: 8vh;
    align-items: center;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 600;
    color: whitesmoke;
    gap: 4%;
    border-radius: 6px;
    justify-content: space-between;
}

a:hover {
    background-color: rgba(47, 47, 47, 0.9);
}

a img {
    width: 45px;
    height: 100%;
    border-radius: 6px 0 0 6px;
}

a svg {
    width: 40px;
    right: 0;
    opacity: 0;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) .2s;
}

a svg:hover {
    transition: all .1s;
    transform: scale(1.1);
}

.left {
    display: flex;
    align-items: center;
    gap: 5%;
}