.album-details {
    width: 100%;
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
}

.album-details .left {
    background-repeat: no-repeat;
    background-size: contain;
    width: 24%;
    height: 35vh;
    border-radius: 7px;
}

.right {
    width: 76%;
    overflow: hidden;
}

.right ul {
    width: 100%;
    height: max-content;
    list-style: none;
    padding: 8% 0 0 3%;
}

.right ul {
    list-style: none;
}

.right ul li {
    white-space: nowrap;
}

.right ul li:nth-child(1) {
    font-size: .813rem;
    color: whitesmoke;
}

.right ul li:nth-child(2) {
    font-size: 6rem;
    font-weight: 1000;
    color: whitesmoke;
    letter-spacing: -1px;
}

.right ul li:nth-child(3) {
    font-size: .813rem;
    color: whitesmoke;
    margin-top: -1%;
}