.album-details {
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
}

.album-details .left {
    background-repeat: no-repeat;
    background-size: contain;
    width: 18%;
    height: 30vh;
    border-radius: 5px;
}

.right {
    width: 76%;
    overflow: hidden;
}

.right ul {
    width: 100%;
    height: max-content;
    list-style: none;
    padding: 0 0 0 3%;
    overflow: hidden;
}

.right ul li {
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.right ul li:nth-child(1) {
    font-size: .813rem;
    color: whitesmoke;
}

.right ul li:nth-child(2) {
    display: block;
    font-size: 6rem;
    font-weight: 1000;
    color: whitesmoke;
    letter-spacing: -1px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.right ul li:nth-child(3) {
    font-size: .813rem;
    color: whitesmoke;
    margin-top: -1%;
}

.right ul li:nth-child(3) img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50px;
}

.right ul li:nth-child(3) a {
    color: white;
    text-decoration: none;
}

.right ul li:nth-child(3) a:hover {
    text-decoration: underline;
    border-bottom: 1px solid white;
}