<div class="album-details">
  <div class="left" [style.background-image]="'url(assets/img/album/'+album?.profilePicture+'.jpg)'"></div>
  <div class="right">
    <ul>
      <li>Album</li>
      <li>{{album?.titleAlbum.slice(0, 15)}}</li>
      <li><img src="assets/img/artist/profil/{{album?.artist.profilePicture}}.jpg" alt="">&nbsp;<strong><a [routerLink]="['/artist']" [fragment]="album?.artist.nameArtist | encryption">{{album?.artist.nameArtist}}</a></strong> . {{album?.releaseDate.slice(0, 4)}} . 1 song, {{duration}} mins</li>
    </ul>
  </div>
</div>
