/* for mobile */

@media (max-width:768px) {
    .container {
        background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        place-items: center;
    
        .content {
            background-color: black;
            width: 100%;
            text-align: center;
            justify-content: center;
            box-sizing: border-box;
            padding: 5% 0 5% 0;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 2rem;
        
            hr {
                width: 80%;
                border-width: .01px medium medium;
                border-style: solid none none;
                border-color: var(--font-color-gray) currentcolor currentcolor;
            }
            
            h1 {
                font-size: 2rem;
                white-space: nowrap;
            }
            
            .links {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .5rem;
            
                a {
                    width: 55%;
                    border: .1vw solid var(--font-color-gray);
                    border-radius: 3rem;
                    font-size: .813rem;
                    font-weight: bold;
                    padding: 2% 0 2% 0;
                    cursor: pointer;
            
                    &:hover {
                        border: .1vw solid white;
                    }
                }
            }
            
            .input_section {
                width: 55%;
                flex-direction: column;
                align-items: center;
                margin: 0 auto 0 auto;
                text-align: justify;
            
                .input_div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    font-size: 1rem;
                    gap: .5rem;
                    margin-bottom: 5%;
            
                    .input {
                        border: .1rem solid var(--font-color-gray);
                        border-radius: .2rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
            
                        input {
                            background-color: transparent;
                            appearance: none;
                            outline: none;
                            border: none;
                            font-size: 1rem;
                            color: white;
                            box-sizing: border-box;
                            padding: 4% 0 4% 4%;
                            width: 85%;
                        }
            
                        svg {
                            margin-right: 1%;
                            cursor: pointer;
                            height: 2rem;
                        }
                    }
                }
            
                .remember_div {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5%;
                    text-align: left;
                    font-size: 1rem;
                }
            
                .input_submit {
                    width: 100%;
            
                    input {
                        width: 100%;
                        background-color: var(--base-color-green);
                        outline: none;
                        border: none;
                        padding: 4%;
                        border-radius: 10vw;
                        font-size: 1.1rem;
                        font-weight: bold;
                        cursor: pointer;
                        transition: all .2s;
                        margin-bottom: 5%;
            
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
            
            .forgot_link {
                color: white;
                font-size: 1rem;
                cursor: pointer;
                text-decoration: none;
                margin-top: -2rem;
            
                &:hover {
                    color: var(--base-color-green);
                    text-decoration: underline;
                }
            }
            
            .lastLink {
                color: var(--font-color-gray);
                font-size: .813rem;
            
                a {
                    color: white;
                    font-size: .813rem;
                    cursor: pointer;
                    text-decoration: underline;
            
                    &:hover {
                        color: var(--base-color-green);
                        text-decoration: underline;
                    }
                }
                
            }
        }    
    }
}

/* for tablette */

@media (min-width:768px) and (max-width: 992px) {
    .container {
        background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        place-items: center;
    
        .content {
            background-color: black;
            width: 100%;
            text-align: center;
            justify-content: center;
            box-sizing: border-box;
            padding: 5% 0 5% 0;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 2rem;
        
            hr {
                width: 80%;
                border-width: .01px medium medium;
                border-style: solid none none;
                border-color: var(--font-color-gray) currentcolor currentcolor;
            }
            
            h1 {
                font-size: 2rem;
                white-space: nowrap;
            }
            
            .links {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .5rem;
            
                a {
                    width: 55%;
                    border: .1vw solid var(--font-color-gray);
                    border-radius: 3rem;
                    font-size: 1.2rem;
                    font-weight: bold;
                    padding: 2% 0 2% 0;
                    cursor: pointer;
            
                    &:hover {
                        border: .1vw solid white;
                    }
                }
            }
            
            .input_section {
                width: 55%;
                flex-direction: column;
                align-items: center;
                margin: 0 auto 0 auto;
                text-align: justify;
            
                .input_div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    font-size: 1.2rem;
                    gap: .5rem;
                    margin-bottom: 5%;
            
                    .input {
                        border: .1rem solid var(--font-color-gray);
                        border-radius: .2rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
            
                        input {
                            background-color: transparent;
                            appearance: none;
                            outline: none;
                            border: none;
                            font-size: 1.2rem;
                            color: white;
                            box-sizing: border-box;
                            padding: 4% 0 4% 4%;
                            width: 85%;
                        }
            
                        svg {
                            margin-right: 1%;
                            cursor: pointer;
                            height: 2rem;
                        }
                    }
                }
            
                .remember_div {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5%;
                    text-align: left;
                    font-size: 1.2rem;
                }
            
                .input_submit {
                    width: 100%;
            
                    input {
                        width: 100%;
                        background-color: var(--base-color-green);
                        outline: none;
                        border: none;
                        padding: 3%;
                        border-radius: 10vw;
                        font-size: 2rem;
                        font-weight: bold;
                        cursor: pointer;
                        transition: all .2s;
                        margin-bottom: 5%;
            
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
            
            .forgot_link {
                color: white;
                font-size: 1.2rem;
                cursor: pointer;
                text-decoration: none;
                margin-top: -2rem;
            
                &:hover {
                    color: var(--base-color-green);
                    text-decoration: underline;
                }
            }
            
            .lastLink {
                color: var(--font-color-gray);
                font-size: 1rem;
            
                a {
                    color: white;
                    font-size: 1rem;
                    cursor: pointer;
                    text-decoration: underline;
            
                    &:hover {
                        color: var(--base-color-green);
                        text-decoration: underline;
                    }
                }
                
            }
        }    
    }
}

/* for desktop */

@media (min-width:992px){
    .container {
        background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        place-items: center;
    
        .content {
            background-color: black;
            width: 60%;
            text-align: center;
            justify-content: center;
            box-sizing: border-box;
            padding: 5% 0 5% 0;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-top: 5%;
        
            hr {
                width: 80%;
                border-width: .01px medium medium;
                border-style: solid none none;
                border-color: var(--font-color-gray) currentcolor currentcolor;
            }
            
            h1 {
                font-size: 4vw;
                white-space: nowrap;
            }
            
            .links {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .5rem;
            
                a {
                    width: 45%;
                    border: .1vw solid var(--font-color-gray);
                    border-radius: 3rem;
                    font-size: 1.2vw;
                    font-weight: bold;
                    padding: 2% 0 2% 0;
                    cursor: pointer;
            
                    &:hover {
                        border: .1vw solid white;
                    }
                }
            }
            
            .input_section {
                width: 45%;
                flex-direction: column;
                align-items: center;
                margin: 0 auto 0 auto;
                text-align: justify;
            
                .input_div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    font-size: 1.3vw;
                    gap: .5rem;
                    margin-bottom: 5%;
            
                    .input {
                        border: .1rem solid var(--font-color-gray);
                        border-radius: .2rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
            
                        input {
                            background-color: transparent;
                            appearance: none;
                            outline: none;
                            border: none;
                            font-size: 1.3vw;
                            color: white;
                            box-sizing: border-box;
                            padding: 4% 0 4% 4%;
                            width: 85%;
                        }
            
                        svg {
                            margin-right: 1%;
                            cursor: pointer;
                            height: 2rem;
                        }
                    }
                }
            
                .remember_div {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5%;
                    text-align: left;
                    font-size: 1.1vw;
                }
            
                .input_submit {
                    width: 100%;
            
                    input {
                        width: 100%;
                        background-color: var(--base-color-green);
                        outline: none;
                        border: none;
                        padding: 4%;
                        border-radius: 10vw;
                        font-size: 1.3vw;
                        font-weight: bold;
                        cursor: pointer;
                        transition: all .2s;
                        margin-bottom: 5%;
            
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
            
            .forgot_link {
                color: white;
                font-size: 1.2vw;
                cursor: pointer;
                text-decoration: none;
                margin-top: -2rem;
            
                &:hover {
                    color: var(--base-color-green);
                    text-decoration: underline;
                }
            }
            
            .lastLink {
                color: var(--font-color-gray);
                font-size: 1.2vw;
            
                a {
                    color: white;
                    font-size: 1.2vw;
                    cursor: pointer;
                    text-decoration: underline;
            
                    &:hover {
                        color: var(--base-color-green);
                        text-decoration: underline;
                    }
                }
                
            }
        }    
    }
}



