<!--<div class="recently">
    <app-recently-item [imgLink]="'assets/img/billy.jpg'">404Billy</app-recently-item>
    <app-recently-item [imgLink]="'assets/img/billy.jpg'">404Billy</app-recently-item>
    <app-recently-item [imgLink]="'assets/img/billy.jpg'">404Billy</app-recently-item>
    <app-recently-item [imgLink]="'assets/img/billy.jpg'">404Billy</app-recently-item>
    <app-recently-item [imgLink]="'assets/img/album.jpg'">Damso</app-recently-item>
    <app-recently-item [imgLink]="'assets/img/album.jpg'">Damso</app-recently-item>
    <app-recently-item [imgLink]="'assets/img/album.jpg'">Damso</app-recently-item>
    <app-recently-item [imgLink]="'assets/img/album.jpg'">Damso</app-recently-item>
</div>-->
<app-home-category>
    Made For You
    <div class="list">
        <app-music-item></app-music-item>
        <app-music-item></app-music-item>
        <app-music-item></app-music-item>
        <app-music-item></app-music-item>
        <app-music-item></app-music-item>
    </div>
</app-home-category>
<app-home-category>
    Your top Mixes
    <div class="list">
        <app-playlist-item></app-playlist-item>
        <app-playlist-item></app-playlist-item>
        <app-playlist-item></app-playlist-item>
        <app-playlist-item></app-playlist-item>
        <app-playlist-item></app-playlist-item>
    </div>
</app-home-category>
<app-home-category>
    Popular albums
    <div class="list">
        <app-album-item></app-album-item>
        <app-album-item></app-album-item>
        <app-album-item></app-album-item>
        <app-album-item></app-album-item>
        <app-album-item></app-album-item>
    </div>
</app-home-category>
<app-home-category>
    Your favorites artists
    <div class="list">
        <app-artist-item></app-artist-item>
        <app-artist-item></app-artist-item>
        <app-artist-item></app-artist-item>
        <app-artist-item></app-artist-item>
        <app-artist-item></app-artist-item>
    </div>
</app-home-category>