.home-container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: green;
    gap: 7px;
    padding: 5px;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: #121212;
    width: 77%;
    border-radius: 6px;
}

app-sidebar {
    min-width: 23%;
}
