.list-album-song {
    margin-bottom: 2%;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1%;
}

.top .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.875rem;
}

.top .right a {
    display: flex;
    align-items: center;
    font-size: .75rem;
    color: #a7a7a7;
    font-weight: bold;
    cursor: pointer;
}

.top .right a:hover {
    color: whitesmoke;
}

.top .left svg {
    cursor: pointer;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) .3s;
}

.top .left svg:hover {
    transition: all .1s;
    transform: scale(1.1);
}

.list-album-song .bottom table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0; 
    table-layout: fixed;
}

.list-album-song .bottom table tr:first-child {
    height: 9vh;
}

.list-album-song .bottom table .trPlaylist td:first-child {
    font-size: 1rem;
}

.list-album-song .bottom table .trPlaylist svg {
    display: none;
    transition: ease-in-out .5s;
}

.list-album-song .bottom table .trPlaylist:hover {
   background-color: rgba(47, 47, 47, 0.4);
   cursor: pointer;
   svg{
    display: block;
   }
   span {
    display: none;
   }
}

.list-album-song .bottom table tr td,.list-album-song .bottom table tr th {
    overflow: hidden;
    white-space: nowrap;
}

.list-album-song .bottom table tr td:first-child,.list-album-song .bottom table tr th:first-child {
    padding: 0 1% 0 3%;
}

.list-album-song .bottom table tr td:first-child {
    border-radius: 7px 0 0 7px;
}

.list-album-song .bottom table tr td:last-child {
    border-radius: 0 7px 7px 0;
}

.list-album-song .bottom table tr th {
    color: #a7a7a7;
    font-size: .813rem;
}

.list-album-song .bottom table tr th:first-child {
    width: 6%;
}

.list-album-song .bottom table tr th:nth-child(2) {
    width: 85%;
}

.list-album-song .bottom table tr th:nth-child(3) {
    width: 5%;
}

.list-album-song .bottom table tr td {
    text-align: left;
    font-size: .813rem;
    color: #a7a7a7;
}

.list-album-song .bottom table tr td a {
    text-decoration: none;
    color: #a7a7a7;
}

.list-album-song .bottom table tr td a:hover {
    color: whitesmoke;
    text-decoration: 1px underline;
}

.titlePlaylist {
    display: flex;
    align-items: center;
    text-align: center;
}

.titlePlaylist ul {
    list-style: none;
    overflow: hidden;
    margin-left: -4%;
}

.titlePlaylist ul li {
    white-space: nowrap;
}


.titlePlaylist ul li:first-child {
    color: whitesmoke;
    white-space: nowrap;
    margin-bottom: 3%;
    font-size: .9rem;
}

.titlePlaylist ul li a {
    text-decoration: none;
}

.titlePlaylist ul li a:hover {
    color: whitesmoke;
    text-decoration: 1px underline;
}

.titlePlaylist img {
    width: 42px;
    border-radius: 5px;
}

.firstColumn {
    border-bottom: .01px solid #a7a7a7;
}
