<app-squeleton>
  <div class="browseAll">
    <h2>Browse all</h2>
    <div class="list">
      <a href="">Afro</a>
      <a href="">At Home</a>
      <a href="">Charts</a>
      <a href="">Chill</a>
      <a href="">Gaming</a>
      <a href="">Gospel</a>
      <a href="">Hip-Hop</a>
      <a href="">Jazz</a>
      <a href="">Latin</a>
      <a href="">Mood</a>
      <a href="">Pop</a>
      <a href="">R&B</a>
      <a href="">Rock</a>
      <a href="">Sleep</a>
      <a href="">Soul</a>
    </div>
  </div>
</app-squeleton>