<div class="browseAll">
  <h2>Browse all</h2>
  <div class="list">
    <a href="" appSetBackground>Afro</a>
    <a href="" appSetBackground>At Home</a>
    <a href="" appSetBackground>Charts</a>
    <a href="" appSetBackground>Chill</a>
    <a href="" appSetBackground>Gaming</a>
    <a href="" appSetBackground>Gospel</a>
    <a href="" appSetBackground>Hip-Hop</a>
    <a href="" appSetBackground>Jazz</a>
    <a href="" appSetBackground>Latin</a>
    <a href="" appSetBackground>Mood</a>
    <a href="" appSetBackground>Pop</a>
    <a href="" appSetBackground>R&B</a>
    <a href="" appSetBackground>Rock</a>
    <a href="" appSetBackground>Sleep</a>
    <a href="" appSetBackground>Soul</a>
  </div>
</div>