<footer>
  <div class="top">
    <div class="list">
      <ul>
        <li><strong>Company</strong></li>
        <li><a href="">About</a></li>
        <li><a href="">Jobs</a></li>
        <li><a href="">For the Record</a></li>
      </ul>
      <ul>
        <li><strong>Communities</strong></li>
        <li><a href="">For Artists</a></li>
        <li><a href="">Developers</a></li>
        <li><a href="">Advertising</a></li>
        <li><a href="">Investors</a></li>
        <li><a href="">Vendors</a></li>
      </ul>
      <ul>
        <li><strong>Useful links</strong></li>
        <li><a href="">Support</a></li>
        <li><a href="">Free Mobile App</a></li>
      </ul>
    </div>
    <div class="socialmedia">
      <a href=""></a>
      <a href=""></a>
      <a href=""></a>
    </div>
  </div>
  <hr>
  <div class="bottom">
    <ul>
      <li><a href="">Legal</a></li>
      <li><a href="">Privacy Center</a></li>
      <li><a href="">Privacy Policy</a></li>
      <li><a href="">Cookies</a></li>
      <li><a href="">About Ads</a></li>
      <li><a href="">Accessibility</a></li>
      <li>© 2024 Spotify AB</li>
    </ul>
  </div>
</footer>