<div class="sidebar">
  <div class="top">
    <ul>
        <li>
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" height="27px" viewBox="0 0 512 512"><path d="M80 212v236a16 16 0 0016 16h96V328a24 24 0 0124-24h80a24 24 0 0124 24v136h96a16 16 0 0016-16V212" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M480 256L266.89 52c-5-5.28-16.69-5.34-21.78 0L32 256M400 179V64h-48v69" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>&nbsp;&nbsp;&nbsp;Home</a>
        </li>
        <li>
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" height="27px" viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"/></svg>&nbsp;&nbsp;&nbsp;Search</a>
        </li>
    </ul>
  </div>
  <div class="bottom">
    <div class="part-one">
        <ul>
            <li>Your Library</li>
            <li>+</li>
            <li>-></li>
        </ul>
    </div>
    <div class="part-two">
        <ul>
            <li>Playlists</li>
            <li>Artists</li>
            <li>Albums</li>
            <li>Podcasts & shows</li>
        </ul>
    </div>
    <div class="part-three">
        <div class="nav-part-three">
            <input type="text" name="" placeholder="">
        </div>
        <div class="content-part-three">
            <ul>
                <li><a href="">text</a></li>
            </ul>
        </div>
    </div>
  </div>
</div>