.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: transparent;
    gap: 8px;
}

.logo svg {
    height: 25px;
}

.top {
    background-color: #121212;
    border-radius: 6px;
    width: 100%;
    padding-top: 1%;
}

.bottom {
    background-color: #121212;
    border-radius: 6px;
}

.top ul {
    list-style: none;
    padding: 0;
    padding-left: 1.1rem;
}

.top ul li a {
    text-decoration: none;
    color: #a7a7a7;
    font-weight: bold;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top ul li a svg {
    margin-bottom: -6px;
}