<div class="sidebar">
  <div class="top">
    <ul>
        <li>
            <a href="">Home</a>
        </li>
        <li>
            <a href="">Search</a>
        </li>
    </ul>
  </div>
  <div class="bottom">
    <div class="part-one">
        <ul>
            <li>Your Library</li>
            <li>+</li>
            <li>-></li>
        </ul>
    </div>
    <div class="part-two">
        <ul>
            <li>Playlists</li>
            <li>Artists</li>
            <li>Albums</li>
            <li>Podcasts & shows</li>
        </ul>
    </div>
    <div class="part-three">
        <div class="nav-part-three">
            <input type="text" name="" placeholder="">
        </div>
        <div class="content-part-three">
            <ul>
                <li><a href="">text</a></li>
            </ul>
        </div>
    </div>
  </div>
</div>