<div class="sidebar">
  <div class="top">
    <ul>
        <li>
            <a [routerLink]="['/home']" [ngClass]="{ 'active': isActiveHome() }"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" height="1.688rem" viewBox="0 0 512 512"><path d="M80 212v236a16 16 0 0016 16h96V328a24 24 0 0124-24h80a24 24 0 0124 24v136h96a16 16 0 0016-16V212" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M480 256L266.89 52c-5-5.28-16.69-5.34-21.78 0L32 256M400 179V64h-48v69" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>&nbsp;&nbsp;&nbsp;&nbsp;Home</a>
        </li>
        <li>
            <a [routerLink]="['/search']" [ngClass]="{ 'active': isActiveSearch() }"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" height="1.688rem" viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"/></svg>&nbsp;&nbsp;&nbsp;&nbsp;Search</a>
        </li>
    </ul>
  </div>
  <div class="bottom">
    <div class="part-one">
        <ul>
            <li><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" height="1.688rem" viewBox="0 0 512 512"><rect x="32" y="96" width="64" height="368" rx="16" ry="16" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M112 224h128M112 400h128"/><rect x="112" y="160" width="128" height="304" rx="16" ry="16" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><rect x="256" y="48" width="96" height="416" rx="16" ry="16" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M422.46 96.11l-40.4 4.25c-11.12 1.17-19.18 11.57-17.93 23.1l34.92 321.59c1.26 11.53 11.37 20 22.49 18.84l40.4-4.25c11.12-1.17 19.18-11.57 17.93-23.1L445 115c-1.31-11.58-11.42-20.06-22.54-18.89z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/></svg>&nbsp;&nbsp;&nbsp;Your Library</li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" height="1.438rem" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 112v288M400 256H112"/></svg>
                &nbsp;&nbsp;&nbsp;
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" height="1.438rem" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M268 112l144 144-144 144M392 256H100"/></svg>
            </li>
        </ul>
    </div>
    <div class="part-two">
        <a href="">Playlists</a>
        <a href="">Artists</a>
        <a href="">Albums</a>
        <a href="">Podcasts & shows</a>
    </div>
    <div class="part-three">
        <div class="nav-part-three">
            <div class="input-search">
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" height="1.188rem" viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"/></svg>
                <input type="text" name="" placeholder="Search in Your Library">
            </div>
        </div>
        <div class="content-part-three">
            <ul>
                <li>
                    <a [routerLink]="['/liked']">
                        <img src="assets/img/liked.png" alt="">
                        <ul>
                            <li>Liked Songs</li>
                            <li>
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" height="1rem" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve">
                                    <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
                                    <g><g><g><path fill="#1ed760" d="M178.9,10.9c-2.7,1.2-8.2,7.2-9.8,10.7c-2.6,5.6-2.9,10-0.9,14.9c1.7,4.2,1,9.4-1.8,12.5c-1.8,2.2-56.7,43.3-58.9,44.2c-1.6,0.6-3.4,0.9-6,0.9c-3.3,0-4.1-0.2-7.6-1.8c-4.7-2.2-8-2.5-12.4-1.4c-6.5,1.7-11,4.8-19.7,13.7c-6.1,6.3-7.1,7.7-7.1,10.9c0,3.7,0.5,4.3,15.6,19.5c10.9,11,14.4,14.8,14.1,15.2c-0.2,0.3-16.7,21.3-36.7,46.7c-19.9,25.4-36.6,46.7-37,47.4c-1.1,1.6-0.6,2.1,1,1c0.7-0.5,21.5-16.7,46.2-36.2c24.7-19.5,45.7-36,46.7-36.7l1.8-1.3l14.6,14.5c12.2,12.2,14.9,14.7,16.5,15.1c4.9,1.3,6.6,0.6,14-6.6c8.9-8.6,12-13.1,13.7-19.6c1.2-4.3,0.7-8.1-1.3-12.3c-0.9-1.9-1.8-4.5-1.9-5.9c-0.4-2.7,0.4-7.1,1.6-9.3c0.4-0.8,10.4-14.1,22.1-29.6c20.4-26.8,21.5-28.3,23.7-29.3c3.8-1.8,5.7-1.9,9.6-0.6c4.8,1.6,6.3,1.8,9.7,1.2c4.5-0.8,8.3-2.9,12.3-6.6c4.9-4.7,6.2-8.1,4.5-12.2c-1-2.4-56.4-57.9-59-59.2C183.9,9.8,181.2,9.8,178.9,10.9z"/></g></g></g>
                                </svg>
                                Playlist . 110 songs
                            </li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/playlist']">
                        <img src="assets/img/billy.jpg" alt="">
                        <ul>
                            <li>Ma playlist n°3</li>
                            <li>Playlist . Jerems</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/album']">
                        <img src="assets/img/album.jpg" alt="">
                        <ul>
                            <li>Lithopédion</li>
                            <li>Album . Damso</li>
                        </ul>
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>