.sidebar {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 8px;
}

.logo svg {
    height: 25px;
}

.top {
    background-color: #1f1f1f;
    border-radius: 6px;
    width: 100%;
}

.bottom {
    width: 100%;
    background-color: #1f1f1f;
    border-radius: 6px;
}

.top ul {
    list-style: none;
    padding: 0;
    padding-left: 1.5rem;
}

.top ul li a {
    text-decoration: none;
    color: #a7a7a7;
    font-weight: 600;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: ease-in-out .2s;
    cursor: pointer;
    font-size: .95rem;
}

.top ul li .active {
    color: whitesmoke;
}

.top ul li .active svg path {
    fill: whitesmoke;
}

.active svg {
    fill: whitesmoke;
}

.top ul li a:hover {
    color: whitesmoke;
}

.top ul li a svg {
    margin-bottom: -6px;
}

.part-one ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-right: 1.1rem; 
    padding-left: 1.5rem;
    align-items: center;
}

.part-one ul li {
    color: #a7a7a7;
    font-weight: bold;
    transition: ease-in-out .2s;
    cursor: pointer;
}

.part-one ul li:first-child {
    font-size: .95rem;
}

.part-one ul li:first-child:hover {
    color: whitesmoke;
}

.part-one ul li svg {
    margin-bottom: -6px;
    transition: ease-in-out .2s;
    cursor: pointer;
}

.part-one ul li svg:hover {
    color: whitesmoke;
}

.part-two {
    margin-top: 7%;
    margin-bottom: 3.7%;
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.part-two::-webkit-scrollbar {
    display: none;
}

@-moz-document url-prefix() {
    .part-two {
      scrollbar-width: none;
    }
}

.part-two  a {
    text-decoration: none;
    color: whitesmoke;
    font-size: .85rem;
    font-weight: 200;
    white-space: nowrap; 
    display: block;
    align-items: center;
    background-color: #2f2f2f;
    padding: 12px;
    border-radius: 40px;
    transition: ease-in-out .2s;
    cursor: pointer;
    opacity: .7;
}

.part-two a:hover {
    color: white;
    opacity: 1;
}

.part-three {
    max-height: 48vh;
    padding-left: 6%;  
    padding-right: 6%;  
    overflow-x: hidden;
    overflow-y: auto;
}

.part-three .nav-part-three {
    display: flex;
    align-items: center;
}

.input-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    background-color: #2f2f2f;
    border-radius: 4px;
    padding: 7px;
}

.input-search svg {
    color: #a7a7a7;
    cursor: pointer;
}

.input-search input {
    background-color: transparent;
    border: 0;
    outline: none;
    color: #a7a7a7;
    font-weight: 600;
    font-size: .85rem;
}

.content-part-three {
    width: 100%;
    display: block;
}

.content-part-three ul {
    list-style: none;
    padding: 0;
}

.content-part-three ul li a {
    display: flex;
    text-decoration: none;
    white-space: nowrap; 
    border-radius: 7px;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    transition: ease-in-out .3s;
    margin-bottom: .1rem;
}

.content-part-three ul li a:hover {
    background-color: #232323;
}

.content-part-three ul li a ul {
    list-style: none;
    margin-left: 1rem;
}

.content-part-three ul li a ul li:first-child {
    font-size: .95rem;
    color: whitesmoke;
    margin-bottom: 4px;
}

.content-part-three ul li a ul li:last-child {
    color: #a7a7a7;
    font-size: .825rem;
    font-weight: 550;
    margin-top: 4px;
}

.content-part-three ul li a img {
    width: 48px;
    border-radius: 5px;
}






/* scrollbar */

.part-three::-webkit-scrollbar {
    display: none;
    transition: ease-in-out .6s;
}

.part-three:hover::-webkit-scrollbar {
    display: block;
    width: 11px;
}
  
.part-three::-webkit-scrollbar-track {
    background-color: #121212;
    opacity: .3;
  }
  
  .part-three::-webkit-scrollbar-thumb {
    background-color: rgb(105, 105, 105);
    opacity: .3;
  }
  
  /* For Microsoft Edge */
  /* Notez que Edge utilise la propriété -ms-overflow-style */
  .part-three {
    -ms-overflow-style: none;
  }
  
  .part-three ::-ms-scrollbar {
    width: 15px;
  }
  
  .part-three ::-ms-scrollbar-track {
    background-color: #121212;
    opacity: .3;
  }
  
  .part-three ::-ms-scrollbar-thumb {
    background-color: rgb(105, 105, 105);
    opacity: .3;
  }

  /*FireFox*/

  @-moz-document url-prefix() {
    .part-three {
      scrollbar-width: none;
    }
}