<app-artist-category>
  Fans also like
  <div class="list">
      <app-playlist-item></app-playlist-item>
      <app-playlist-item></app-playlist-item>
      <app-playlist-item></app-playlist-item>
      <app-playlist-item></app-playlist-item>
      <app-playlist-item></app-playlist-item>
      <app-playlist-item></app-playlist-item>
      <app-playlist-item></app-playlist-item>
      <app-playlist-item></app-playlist-item>
      <app-playlist-item></app-playlist-item>
  </div>
</app-artist-category>