<app-artist-details></app-artist-details>
<app-list-artist-song></app-list-artist-song>
<app-artist-category>
    Discography
    <div class="list">
        <app-album-item></app-album-item>
        <app-album-item></app-album-item>
        <app-album-item></app-album-item>
        <app-album-item></app-album-item>
        <app-album-item></app-album-item>
    </div>
</app-artist-category>
<app-artist-category>
    Fans also like
    <div class="list">
        <app-artist-item></app-artist-item>
        <app-artist-item></app-artist-item>
        <app-artist-item></app-artist-item>
        <app-artist-item></app-artist-item>
        <app-artist-item></app-artist-item>
    </div>
</app-artist-category>
<app-artist-category>
    Discovered on
    <div class="list">
        <app-playlist-item></app-playlist-item>
        <app-playlist-item></app-playlist-item>
        <app-playlist-item></app-playlist-item>
        <app-playlist-item></app-playlist-item>
        <app-playlist-item></app-playlist-item>
    </div>
</app-artist-category>